[submodule "noiseCutoff"]
	path = noiseCutoff
	url = https://github.com/SteinmetzLab/noiseCutoff
[submodule "slidingRefractory"]
	path = slidingRefractory
	url = https://github.com/SteinmetzLab/slidingRefractory
